@import "tailwindcss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";
@import "../styles/glassContainer.scss";
@import "../styles/button.scss";

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 100%;
  // max-width: var(--layout-max-width);
}

html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

//CSS OF 1ST SCREEN

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  inset: 0;
  z-index: 0;
}

// .hero__overlay {
//   // position: absolute;
//   // inset: 0;
//   // background-color: #4effc7;
//   mix-blend-mode: overlay;
//   opacity: 0.55;
//   position: absolute;
//   inset: 0;
//   z-index: 1;
//   background: linear-gradient(
//       0deg,
//       rgba(78, 255, 199, 0.34) 0%,
//       rgba(78, 255, 199, 0.34) 100%
//     ),
//     #000;

//   background-blend-mode: overlay, normal;
// }

.hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: linear-gradient(
  (0deg,
    rgba(78, 255, 199, 0.34) 0%,
    rgba(78, 255, 199, 0.34) 100%), #000
  );
}

.hero__content {
  position: relative;
  z-index: 2;
}

.container {
  height: 100%;
  padding: 90px 109px;
}

.hero__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
}

.hero__left {
  width: 652px;
}

.hero__logo {
  width: 282px;
  height: 64px;
  margin-bottom: 38px;
}

.hero__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__desc {
  width: 556px;
  margin-bottom: 32px;
}

.hero__features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 640px) {
  .hero__features {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__feature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__icon {
  width: 20px;
  height: 20px;
}

.hero__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
