@import "tailwindcss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";
@import "../styles/glassContainer.scss";

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 100%;
  // max-width: var(--layout-max-width);
}

html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}
