.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: var(--font-inter);
  cursor: pointer;
  border: none;
  line-height: 1;
  user-select: none; 
  border-radius: var(--radius-sm);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  

  /* Sizes */
  &--sm {
    padding: var(--sp-8) var(--sp-16);
    font-size: 16px;
    gap: var(--sp-8);
    
  }

  &--smTwo {
    padding: var(--sp-8) var(--sp-24);
    font-size: 20px;
    gap: var(--sp-16);
    
  }

  &--md {
    padding: var(--sp-15) var(--sp-15);
    font-size: 20px;
    gap: var(--sp-15);
  }

  &--lg {
    padding: var(--sp-16) var(--sp-32);
    font-size: 20px;
    gap: var(--sp-16);
    
  }

  &--xl {
    padding: var(--sp-16) var(--sp-24);
    font-size: 20px;
    gap: var(--sp-16);
    
  }

  /* Variants */
  &--primary {
    background: var(--color-primary);
    color: black ;
    

    &:hover {
      
      border: 0.5px solid var(--color-black-500);
    }
  }



 

  /* Icon */
  .btn-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: var(--color-black-500);
    }
  }

  &:hover {
    .btn-icon {
      border: 0.5px solid var(--color-black-500);
    }
  }

  .btn-icon-white {
    width: 40px;
    height: 40px;
    border-radius: 48px;
    background: var(--color-lime);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color-black-500);
    flex-shrink: 0;
    border: 0.5px solid transparent;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  @media (max-width: 600px) {
    &--primary,
    &--white,
    &--black-outline {
      padding: var(--sp-10) var(--sp-24);
      font-size: 20px;
      gap: var(--sp-16);
      border-radius: var(--radius-xl);
    }

    .arrow-img {
      width: 8px;
      height: 6px;
    }

    .btn-icon {
      width: 40px;
      height: 40px;
      border-radius: 48px;
      background: white;
      font-size: 16px;
      color: var(--color-black-500);
    }

    .btn-icon-white {
      background: var(--color-lime);
      width: 40px;
      height: 40px;
      border-radius: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: var(--color-black-500);
    }
  }

  /* With Icon - add extra padding */
  &--with-icon {
    padding-right: var(--sp-8);
  }

  /* Disabled */
  &--disabled,
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
/* Base link look */
.btn--link {
  background: transparent;
  border: none;
  font-size: 16px;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  text-decoration:underline; 
}

/* DEFAULT = WHITE */
.btn--link {
  color: var(--color-white);
}

/* LIME VERSION */
.btn--link-lime {
  color: var(--color-lime);
}
