.glass-container {
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(14%) !important;
  -webkit-backdrop-filter: blur(14%) !important;
  border-radius: var(--sp-28);
  // border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: #fff;
  font-family: inherit;
}

// Variants
.primary-spacing {
  padding: var(--sp-32);
}

@media (max-width: 440px) {
  .primary-spacing {
    padding: var(--sp-24);
  }
}
