// ✅ Fluid Helper → auto scale between mobile & desktop
// Usage: font-size: fluid(16px, 24px);
@function fluid($min, $max, $minViewport: 390px, $maxViewport: 1440px) {
  $difference: $max - $min;
  @return calc(
    #{$min} + #{$difference} *
      ((100vw - #{$minViewport}) / (#{$maxViewport - $minViewport}))
  );
}

/* ✅ Heading Variants */
.h1 {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: fluid(24px, 32px);
  line-height: 120%;
}
.h2 {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: fluid(24px, 32px);
  line-height: 120%;
}

.h3 {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: fluid(16px, 20px);
  line-height: 120%;
}

/* ✅ Body Variants */
.body-1 {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: fluid(20px, 20px);
    line-height: 120%;
}
.body-2 {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: fluid(16px, 16px);
  line-height: 140%;
}

.body-3 {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: fluid(14px, 14px);
  line-height: 140%;
}

@media (max-width: 440px) {
  .h1 {
    font-weight: 600;
    letter-spacing: -0.48px;
  }

  .h2 {
    line-height: 120%;
    letter-spacing: -0.48px;
    font-weight: 600;
  }

  .h3 {
    line-height: 140%;
  }
}
