:root {
  --color-primary: #4effc7;
  --color-primary-transparent: #4effc742;
  --color-white: #ffffff;
  --color-light-white: #ffffff24;
  --color-off-white: #ffffffe5;
  --color-dull-white: #ffffffb2;
  --color-secondary-dull-white: #f3f3f580;

  //  Spacing
  --sp-4: 4px;
  --sp-12: 12px;
  --sp-15:15px;
  --sp-16: 16px;
  --sp-20: 20px;
  --sp-24: 24px;
  --sp-26: 26px;
  --sp-28: 28px;
  --sp-32: 32px;
  --sp-40: 42px;
  --sp-48: 48px;
  --sp-50: 50px;
  --sp-56: 56px;

  //  Radius
  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 14px;
  --radius-lg: 28px;
//   --radius-xl: 48px;

  //  Layout
//   --layout-max-width: 1520px;
}
